form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-color: lightsteelblue;
    max-width: 400px;
    
    margin: 0 auto;
    padding: 0;
    border-radius: 8px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}

input, textarea, select {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}
form label {
    margin-left: 20px;
    
    font-weight: bold;
}