#banner-home{
    height: 350px;
    margin: 0 auto;
    background-color: #0660ac;
    background-image: linear-gradient(135deg, #000000 0% rgb(15 80 136 100%));
}

#banner-home img{
    width: 100%;
    height: 800px;
}
#banner-home h1{
    font-size: 48px;
    width: 40%;
    font-weight: 500px;
    position: absolute;
    top: 160px;
    right: 32%;
    text-align: center;
    color: #fff;
}

#banner-home p{
    font-size: 14px;
    margin-bottom: 40px;
    width: 75%;
    position: absolute;
    top: 300px;
    text-align: center;
    right: 12%;
    color: #fff;
}

#banner-home .btn{
    position: absolute;
    top: 100px;
    box-shadow: none;
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: #a6ccec;
    right: 50%;
}